<div *ngFor="let dailyList of meetingListGroupedByDay; let i = index" (click)="toggleDay(i)" [ngClass]="{active: isDayShown(i)}">
  <ion-item-divider sticky="true" [color]="isToday(dailyList[0].weekday_tinyint) ? 'secondary' : 'primary'">
    <div ngSwitch="{{ dailyList[0].weekday_tinyint }}">
      <div *ngSwitchCase="'1'">
        <h3>{{'SUNDAY' | translate}} ({{dayCount[0]}})</h3></div>
      <div *ngSwitchCase="'2'">
        <h3>{{'MONDAY' | translate}} ({{dayCount[1]}})</h3></div>
      <div *ngSwitchCase="'3'">
        <h3>{{'TUESDAY' | translate}} ({{dayCount[2]}})</h3></div>
      <div *ngSwitchCase="'4'">
        <h3>{{'WEDNESDAY' | translate}} ({{dayCount[3]}})</h3></div>
      <div *ngSwitchCase="'5'">
        <h3>{{'THURSDAY' | translate}} ({{dayCount[4]}})</h3></div>
      <div *ngSwitchCase="'6'">
        <h3>{{'FRIDAY' | translate}} ({{dayCount[5]}})</h3></div>
      <div *ngSwitchCase="'7'">
        <h3>{{'SATURDAY' | translate}} ({{dayCount[6]}})</h3></div>
      <div *ngSwitchDefault>Nothing Found.</div>
    </div>
    <ion-icon color="white" item-left [name]="isDayShown(i) ? 'close-circle' : 'add-circle'"></ion-icon>
  </ion-item-divider>

  <div *ngIf="isDayShown(i)">
    <ion-list *ngFor="let meeting of dailyList; let j = index">

      <div ngSwitch="{{ localMeetingType }}">
        <div *ngSwitchCase="'virt'">
          <app-virt-meeting-card [data]="meeting"></app-virt-meeting-card>
        </div>
        <div *ngSwitchDefault>
          <app-meeting-card [data]="meeting"></app-meeting-card>
        </div>
      </div>

    </ion-list>
  </div>
</div>
