<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'LOCATIONSEARCH' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div ngSwitch="{{ currentAddress }}">

    <div *ngSwitchCase="''"></div>

    <div *ngSwitchCase="'Location not found'" [ngClass]="'one'">
      <ion-item text-wrap><b>{{'NO_LOCATION' | translate}}</b></ion-item>
    </div>

    <div *ngSwitchDefault>
      <div *ngIf = "isLoaded">
        <app-meeting-list [data]="addressMeetingList" meetingType='regular' expandAll='false'></app-meeting-list>
      </div>
    </div>
    
  </div>
</ion-content>

<ion-footer class="no-padding">
  <ion-toolbar class="no-padding">

    <ion-item class="text-wrap">
      <b>{{radius}} {{'MEETINGS_NEAREST' | translate}} {{ currentAddress }}</b>

      <ion-button slot="end" expand="block" color="primary" id="LocationButton" (click)="locatePhone()" >
        <ion-icon slot="end" name="locate-outline"></ion-icon>{{'SEARCH' | translate }}
      </ion-button>
    </ion-item>

    <ion-range id="RadiusRange" min="5" max="50" [value]=radius (ionKnobMoveEnd)="getAllMeetings($event)" color="danger" pin="true" debounce="500">
      <ion-label slot="start">5 {{'MEETINGS' | translate}}</ion-label>
      <ion-label slot="end">50 {{'MEETINGS' | translate}}</ion-label>
    </ion-range>

  </ion-toolbar>
</ion-footer>
