<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <div *ngIf="areaName != '' ; else BMLT_List">
      <ion-title>{{ areaName }}</ion-title>
      <ion-button color="primary" slot="end" size="small" (click)="showServiceStructure()">Back</ion-button>
    </div>

    <ng-template #BMLT_List>
    <ion-title>
      {{'LISTFULL' | translate}}
    </ion-title>
  </ng-template>

  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <div *ngIf="HTMLGrouping == 'areas'">

    <div *ngFor="let L1 of serviceGroupHierarchy; let i = index">
      <div *ngIf="L1.childServiceGroup;else L1_no_children">
        <ion-item-divider  (click)="toggleL1Group(i)" [ngClass]="{active: isL1GroupShown(i)}" [color]="isL1GroupShown(i) ? 'secondary' : 'primary'" >
          <h3>{{ L1.name }}</h3>
          <ion-icon size="large" [color]="isL1GroupShown(i) ? 'primary' : 'secondary'" slot="end" [name]="isL1GroupShown(i) ? 'close-circle' : 'add-circle'"></ion-icon>
        </ion-item-divider>
      </div>
      <ng-template #L1_no_children>
        <ion-item-divider (click)="getMeetingsByArea(L1.id, L1.name)" color="primary">
          <h3>{{ L1.name }} </h3>
          <ion-icon size="large" color="secondary" slot="end" name="play"></ion-icon>
        </ion-item-divider>
      </ng-template>

      <div *ngIf="isL1GroupShown(i)">
        <div *ngFor="let L2 of L1.childServiceGroup; let j = index">
          <div *ngIf="L2.childServiceGroup;else L2_no_children">
            <ion-item-divider (click)="toggleL2Group(j)" [ngClass]="{active: isL2GroupShown(j)}" [color]="isL2GroupShown(j) ? 'tertiary' : 'secondary'">
              <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
              <h3>{{ L2.name }}</h3>
              <ion-icon size="large" [color]="isL2GroupShown(j) ? 'secondary' : 'tertiary'" slot="end" [name]="isL2GroupShown(j) ? 'close-circle' : 'add-circle'"></ion-icon>
            </ion-item-divider>
          </div>
          <ng-template #L2_no_children>
            <ion-item-divider  (click)="getMeetingsByArea(L2.id, L2.name)" [color]="isL2GroupShown(j) ? 'tertiary' : 'secondary'">
              <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
              <h3>{{ L2.name }}</h3>
              <ion-icon size="large" [color]="isL2GroupShown(j) ? 'secondary' : 'tertiary'" slot="end" name="play"></ion-icon>
            </ion-item-divider>
          </ng-template>


          <div *ngIf="isL2GroupShown(j)">
            <div *ngFor="let L3 of L2.childServiceGroup; let k = index" [ngClass]="{active: isL3GroupShown(k)}">
              <div *ngIf="L3.childServiceGroup;else L3_no_children">
                <ion-item-divider  (click)="toggleL3Group(k)" [ngClass]="{active: isL3GroupShown(k)}" [color]="isL3GroupShown(k) ? 'four' : 'tertiary'">
                  <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                  <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>     
                  <h3>{{ L3.name }}</h3>
                  <ion-icon size="large" [color]="isL3GroupShown(k) ? 'tertiary' : 'warning'" slot="end" [name]="isL3GroupShown(k) ? 'close-circle' : 'add-circle'"></ion-icon>
                </ion-item-divider>
              </div>
              <ng-template #L3_no_children>
                <ion-item-divider (click)="getMeetingsByArea(L3.id, L3.name)" [color]="isL3GroupShown(k) ? 'four' : 'tertiary'">
                  <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                  <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                  <h3>{{ L3.name }}</h3>
                  <ion-icon size="large" [color]="isL3GroupShown(k) ? 'tertiary' : 'warning'" slot="end" name="play"></ion-icon>
                </ion-item-divider>
              </ng-template>


              <div *ngIf="isL3GroupShown(k)">
                <div *ngFor="let L4 of L3.childServiceGroup; let l = index" [ngClass]="{active: isL4GroupShown(k)}">
                  <div *ngIf="L4.childServiceGroup;else L4_no_children">
                    <ion-item-divider >
                      <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                      <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                      <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                      <h3>{{ L4.name }}</h3>
                      <ion-icon size="large" color="icon" slot="end" [name]="isL1GroupShown(i) ? 'close-circle' : 'add-circle'"></ion-icon>
                    </ion-item-divider>
                  </div>
                  <ng-template #L4_no_children>
                    <ion-item-divider (click)="getMeetingsByArea(L4.id, L4.name)">
                      <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                      <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                      <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                      <h3>{{ L4.name }}</h3>
                      <ion-icon size="large" color="icon" slot="end" name="play"></ion-icon>
                    </ion-item-divider>
                  </ng-template>


                  <div *ngFor="let L5 of L4.childServiceGroup; let m = index">
                    <div *ngIf="L5.childServiceGroup;else L5_no_children">
                      <ion-item-divider>
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <h3>{{ L5.name }}</h3>
                        <ion-icon size="large" color="icon" slot="end" [name]="isL1GroupShown(i) ? 'close-circle' : 'add-circle'"></ion-icon>
                      </ion-item-divider>
                    </div>
                    <ng-template #L5_no_children>
                      <ion-item-divider (click)="getMeetingsByArea(L5.id, L5.name)">
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <h3>{{ L5.name }}</h3>
                        <ion-icon size="large" color="icon" slot="end" name="play"></ion-icon>
                      </ion-item-divider>
                    </ng-template>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="HTMLGrouping == 'meetings'">
    <div *ngFor="let group1 of meetingListArea; let i = index" (click)="toggleDay(i)" [ngClass]="{active: isDayShown(i)}">
      <ion-item-divider [color]="isDayShown(i) ? 'tertiary' : 'primary'">
        <div ngSwitch="{{ group1[0].weekday_tinyint }}">
          <div *ngSwitchCase="'1'">
            <h3>{{'SUNDAY' | translate}} ({{sunCount}})</h3></div>
          <div *ngSwitchCase="'2'">
            <h3>{{'MONDAY' | translate}} ({{monCount}})</h3></div>
          <div *ngSwitchCase="'3'">
            <h3>{{'TUESDAY' | translate}} ({{tueCount}})</h3></div>
          <div *ngSwitchCase="'4'">
            <h3>{{'WEDNESDAY' | translate}} ({{wedCount}})</h3></div>
          <div *ngSwitchCase="'5'">
            <h3>{{'THURSDAY' | translate}} ({{thuCount}})</h3></div>
          <div *ngSwitchCase="'6'">
            <h3>{{'FRIDAY' | translate}} ({{friCount}})</h3></div>
          <div *ngSwitchCase="'7'">
            <h3>{{'SATURDAY' | translate}} ({{satCount}})</h3></div>
          <div *ngSwitchDefault>Nothing Found.</div>
        </div>
        <ion-icon size="large"color="white" item-left [name]="isDayShown(i) ? 'close-circle' : 'add-circle'"></ion-icon>
      </ion-item-divider>
      <div *ngIf="isDayShown(i)">
        <ion-list *ngFor="let group2 of group1; let j = index">
          <ion-card text-wrap>
            <ion-card-header>
              <div ngSwitch="{{ group2.weekday_tinyint }}">
                <div *ngSwitchCase="'1'" [ngClass]="'one'">
                  <ion-badge color="sunday"><b>{{'SUNDAY' | translate}}   {{ group2.start_time_set  }} </b></ion-badge>
                </div>
                <div *ngSwitchCase="'2'" [ngClass]="'one'">
                  <ion-badge color="monday"><b>{{'MONDAY' | translate}}   {{ group2.start_time_set }} </b></ion-badge>
                </div>
                <div *ngSwitchCase="'3'" [ngClass]="'one'">
                  <ion-badge color="tuesday"><b>{{'TUESDAY' | translate}}   {{ group2.start_time_set }} </b></ion-badge>
                </div>
                <div *ngSwitchCase="'4'" [ngClass]="'one'">
                  <ion-badge color="wednesday"><b>{{'WEDNESDAY' | translate}}   {{ group2.start_time_set }} </b></ion-badge>
                </div>
                <div *ngSwitchCase="'5'" [ngClass]="'one'">
                  <ion-badge color="thursday"><b>{{'THURSDAY' | translate}}   {{ group2.start_time_set }} </b></ion-badge>
                </div>
                <div *ngSwitchCase="'6'" [ngClass]="'one'">
                  <ion-badge color="friday"><b>{{'FRIDAY' | translate}}   {{ group2.start_time_set }} </b></ion-badge>
                </div>
                <div *ngSwitchCase="'7'" [ngClass]="'one'">
                  <ion-badge color="saturday"><b>{{'SATURDAY' | translate}}   {{ group2.start_time_set  }} </b></ion-badge>
                </div>

                <div *ngSwitchDefault>Nothing Found.</div>
              </div>
            </ion-card-header>
            <ion-card-content>

              <h1>{{group2.meeting_name}}</h1>
              <div *ngIf="group2.location_text">{{group2.location_text}}<br></div>
              <div *ngIf="group2.location_street">{{group2.location_street}}<br></div>
              <div *ngIf="group2.location_city_subsection">{{group2.location_city_subsection}}<br></div>
              <div *ngIf="group2.location_neighborhood">{{group2.location_neighborhood}}<br></div>
              <div *ngIf="group2.location_municipality">{{group2.location_municipality}}<br></div>
              <div *ngIf="group2.location_sub_province">{{group2.location_sub_province}}<br></div>
              <div *ngIf="group2.location_province">{{group2.location_province}}<br></div>
              <div *ngIf="group2.location_code_1">{{group2.location_code_1}}<br></div>
              <div *ngIf="group2.location_info">{{group2.location_info}}<br></div>
              <div *ngIf="group2.comments">{{group2.comments}}<br></div>
              <div *ngIf="group2.virtual_meeting_additional_info">{{group2.virtual_meeting_additional_info}}<br></div>
              <div *ngIf="group2.contact_phone_1">{{group2.contact_phone_1 | tidyDelimiter }}<br></div>
              <div *ngIf="group2.contact_email_1">{{group2.contact_email_1 | tidyDelimiter }}<br></div>
              <div *ngIf="group2.train_lines">{{'TRAIN' | translate}}: {{group2.train_lines | tidyDelimiter }}<br></div>
              <div *ngIf="group2.bus_lines">{{'BUS' | translate}}: {{group2.bus_lines | tidyDelimiter }}<br></div>
              <div *ngIf="group2.formats"><i>{{'FORMATS' | translate}}: {{group2.formats | tidyDelimiter }}</i><br></div>
              <br>
              <ion-button expand="block" color="primary" (click)="openMapsLink(group2.latitude , group2.longitude)">
                <ion-icon size="large"name="map"> </ion-icon>&nbsp;{{'MAP' | translate}}
              </ion-button>

              <ion-button expand="block" color="primary"  *ngIf="group2.virtual_meeting_link" (click)="openLink(group2.virtual_meeting_link)">
                <ion-icon size="large"name="cloud"> </ion-icon>&nbsp;{{'VIRTUAL_LINK' | translate }}
              </ion-button>
              
              <ion-button expand="block" color="primary"  *ngIf="group2.phone_meeting_number" (click)="dialNum(group2.phone_meeting_number)">
                <ion-icon size="large"name="call" > </ion-icon>&nbsp;{{'PHONE_MEETING' | translate }}
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
