<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <div *ngIf="areaName != '' ; else BMLT_List">
      <ion-buttons slot="primary">
        <ion-button fill="solid" color='primary' (click)="showServiceStructure()">
          <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>
          Back
        </ion-button>
      </ion-buttons>
    </div>

    <ng-template #BMLT_List>
    <ion-title>
      {{'LISTFULL' | translate}}
    </ion-title>
  </ng-template>

  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <div *ngIf="HTMLGrouping == 'areas'">
    <ion-accordion-group>
      <ng-container *ngFor="let node of serviceGroupHierarchy">
        <app-service-group-node
          *ngIf="node.childServiceGroup; else root_leaf"
          [node]="node"
          (areaSelected)="getMeetingsByArea($event.id, $event.name)">
        </app-service-group-node>
        <ng-template #root_leaf>
          <ion-item (click)="getMeetingsByArea(node.id, node.name)">{{ node.name }}</ion-item>
        </ng-template>
      </ng-container>
    </ion-accordion-group>
  </div>


  <div *ngIf="HTMLGrouping == 'meetings'">

    <div *ngIf = "isLoaded">
      <app-meeting-list [data]="meetingListArea" meetingType='regular' expandAll='false'></app-meeting-list>
    </div>
    
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div *ngIf="areaName != ''">
      <ion-title class="text-wrap">{{ areaName }}</ion-title>
    </div>
  </ion-toolbar>
</ion-footer>
