
.ionicon {
    margin-end: 5px !important;
}

ion-item[slot=header] {
  // border: 1px;
  // border-style: solid;
  border-radius: 5px 5px 5px 5px;
  border-color: var(--ion-color-primary);
}
ion-accordion {
  margin: 0 auto;
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  // width: calc(100% - 8px);
  padding-top: 4px; 
  padding-left: 4px; 
  padding-right: 4px; 
  padding-bottom: 4px;
  border: 1px;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
  border-color: var(--ion-color-primary);
}

ion-accordion.accordion-collapsing ion-item[slot='header'],
ion-accordion.accordion-collapsed ion-item[slot='header'] {
  --background: var(--ion-color-light);
  --color: var(--ion-color-light-contrast);
}

ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header'] {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

.ion-padding {
  padding-top: 0px; 
  padding-left: 0px; 
  padding-right: 0px; 
  padding-bottom: 0px;
}
