<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'MAP_SEARCH' | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-searchbar color="tertiary" placeholder="Tertiary" no-padding [debounce]="250" (ionInput)="updateSearchResults($event)" placeholder="search">
  </ion-searchbar>
</ion-header>

<ion-content>

  <ion-list no-padding [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <capacitor-google-map id='map'></capacitor-google-map>

</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding>

    <ion-range id="RadiusRange" min="100" max="100000" (ionKnobMoveEnd)="changeCircleRadius($event)" color="danger" debounce="500">
      <ion-label slot="start"><ion-icon name="logo-ionic" size="small"></ion-icon></ion-label>
      <ion-label slot="end"><ion-icon name="logo-ionic" size="large"></ion-icon></ion-label>
    </ion-range>

  </ion-toolbar>
</ion-footer>