<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'MAP_SEARCH' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar no-padding color="primary" placeholder="Tertiary" no-padding [debounce]="250" (ionInput)="updateSearchResults($event)" placeholder="search">
  </ion-searchbar>
  <ion-list class="ion-no-padding" [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <capacitor-google-map id='map'></capacitor-google-map>

</ion-content>
